.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .icon {
    margin-bottom: 25px;
    background-color: #1e1e1e;
    border: 1px solid #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 999px;
    transition: 0.25s ease-in-out;
    svg{
        color: #1499E6;
        width: 22px;
        height: 22px;
        transition: 0.25s ease-in-out;
    }
  }
  .title {
    color: #d9d9d9;
    font-size: 1.7em;
  }
  .description {
    color: #d9d9d98c;
    font-size: 1em;
    margin: 0px;
  }
}
.card:hover{
    .icon{
        background-color: #1499E6;
        svg{
            color: #1e1e1e;
        }
    }
}


@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
    .card{
        margin-bottom: 60px;
    }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
