.introVPN {
  margin-top: 200px;
  font-size: 1rem;
  direction: rtl;
  padding: 0px 20px;
  .title {
    text-align: center;
    font-size: 2.5em;
    color: #d9d9d9;
    margin-bottom: 20px;
    span {
      color: #1499e6;
    }
  }
  .description {
    color: #617287;
    text-align: center;
    font-size: 1.2em;
  }
  .introCards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .introVPN{
    margin-top: 165px;
  }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  .introVPN{
    font-size: 0.9rem;
  }
}
