.products {
  margin-top: 200px;
  .SearchBox {
    max-width: 400px;
    width: 90%;
    margin: 0px auto;
  }
  .productsCards{
    padding-top: 100px;
  }
}

@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
  .col{
    padding: 0px;
  }
}
