.btn {
  width: 125px;
  height: 40px;
  box-shadow: none;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}
